### DOCKER ###
# ENVIRONMENT=docker
# KAFKA_BOOTSTRAP_SERVERS=kafka:9092
# POSTGRES_HOST=sql


ENVIRONMENT=normal


## Postgres ##
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=your_db
POSTGRES_USER=your_user_name
POSTGRES_PASSWORD=your_password


KAFKA_BOOTSTRAP_SERVERS=localhost:9092

